<div class="row">
  <div class="col-md-8"><input type="text" class="form-control mb-2" placeholder="Node ip address" #nodeip></div>
  <div class="col-md-2"><button class="btn btn-primary" (click)=connect(nodeip.value)>Connect</button></div>
</div>
<div class="mt-3"> <span> Node ID : <span class='badge badge-success'>{{ nodeIp }}</span></span></div>
<div class="mb-3"> <span> IP Node : <span class='badge badge-danger'>{{ urlApi }}</span></span></div>
<a class="btn btn-primary" href="#/pages/unicert" role="button">UniCert</a>
<a class="btn btn-danger" href="#/pages/unicoin" role="button">UniCoin</a>
<router-outlet></router-outlet>
