<div class="row mt-2">
  <div class="col-md-8"><input type="text" class="form-control mb-2" placeholder="Enter txid" #txid></div>
  <div class="col-md-2"><button class="btn btn-success" (click)=getTx(txid.value)>Check</button></div>
  <div class="div mb-2">
    <div class="row">
      <div class="col-2">
        <button class='btn btn-info' (click)=mine()>Mine</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf='info'>
  <span class='badge badge-success'>Success</span>
  <pre>{{ info | json}}</pre>
</div>
<div class="card">
  <div class="card-header">
    Create new transaction
  </div>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Private Key</label>
          <input type="text" class="form-control" required [(ngModel)]="prk_key" name='prk_key'>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label>Output Address (public key)</label>
          <input type="text" class="form-control" required [(ngModel)]="tx_model.outputAddress" name="outputAddress">
        </div>
        <div class="col-md-6 mb-3">
          <label>Input Address</label>
          <input type="text" class="form-control" required [(ngModel)]="tx_model.inputAddress" name='inputAddress'>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label>Amount</label>
          <input type="text" class="form-control" required [(ngModel)]="tx_model.amount" name="amount">
        </div>
        <div class="col-md-9 mb-3">
          <label>Meta Data</label>
          <input type="text" class="form-control" required [(ngModel)]="tx_model.meta_data" name="meta_data">
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
  </div>
</div>
<div *ngIf='result'>
  <h3>{{ result.message }}</h3>
  <h4>Hash of this transaction: {{ result.tx_id }}</h4>
</div>
<div class="card" *ngIf='tx'>
  <div class="card-header">Transaction Info -
    <strong>{{ tx.hash}}</strong>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">AMOUNT:
        <strong class="ml-3">{{ tx.amount }}</strong>
      </li>
      <li class="list-group-item">INPUTADDRESS:
        <strong class="ml-3">{{ tx.inputAddress }}</strong>
      </li>
      <li class="list-group-item">META_DATA:
        <strong class="ml-3">{{ tx.meta_data }}</strong>
      </li>
      <li class="list-group-item">OUTPUTADDRESS:
        <strong class="ml-3">{{ tx.outputAddress }}</strong>
      </li>
      <li class="list-group-item">TIME:
        <strong class="ml-3">{{ tx.time * 1000 | date:'medium'}}</strong>
      </li>
    </ul>
  </div>
</div>
<p class='badge badge-danger' *ngIf='err'>{{ err }}</p>
