<div class="row">
  <div class="col-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Node Ip Address" aria-describedby="button-addon2" #nodeip>
    </div>
  </div>
  <div class="col-4">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="registerNodes(nodeip.value)">Register</button>.
      <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="resolveNodes()">Consensus</button>
    </div>
  </div>
</div>
<div *ngIf="infoRes">{{ infoRes | json }}</div>
<div class="card">
  <div class="card-header">Nodes in Uni Blockchain
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let node of nodes">
        <strong class="ml-3">{{ node }}</strong>
      </li>
    </ul>
  </div>
</div>
