<!-- <div class="container-fluid mt-5">
  <div class="row justify-content-between mx-3">
    <div class="col-4">
      <img src="./assets/images/tongcty.png" alt="" width="100%">
    </div>
    <div class="col-4">
      <img src="./assets/images/vnpt.png" alt="" width="100%">
    </div>
  </div>
</div> -->
<div class="container vnpt-app firework" id="firework">
  <!-- <h1 class="text-center mb-3"></h1> -->
  <router-outlet></router-outlet>
</div>
