<div class="row justify-content-md-center mb-3">
  <div class="col col-lg-6">
    <div class="input-group">
      <div class="custom-file">
        <!-- <input type="file" class="custom-file-input" type="file" (change)="onFileChange($event)" multiple="false"> -->
        <input type="file" class="custom-file-input" type="file" (change)="onFileChange($event)" multiple="false">
        <label class="custom-file-label" for="inputGroupFile04">File browser...</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="onCheckValid()">Check valid</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="validInfo">
  <ul>
    <li>Check Target Hash: <span class="badge" [ngClass]="{'badge-success': validInfo['hash'], 'badge-danger': !validInfo['hash']}">{{ validInfo['hash'] }}</span></li>
    <li>Check Proof Merkle Tree of Batch: <span class="badge" [ngClass]="{'badge-success': validInfo['proof'], 'badge-danger': !validInfo['proof']}">{{ validInfo['proof'] }}</span></li>
    <li>Check Transaction Merkle Root: <span class="badge" [ngClass]="{'badge-success': validInfo['meta_data'], 'badge-danger': !validInfo['meta_data']}">{{ validInfo['meta_data'] }}</span></li>
  </ul>
</div>
<div class="card" *ngIf="certInfo">
  <div class="card-header font-weight-bold">Cert Information</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">Certificate Name:
        <strong>{{ certInfo.badge.name}}</strong>
      </li>
      <li class="list-group-item">Issued on:
        <strong>{{ certInfo.issuedOn | date }}</strong>
      </li>
    </ul>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Issuer Information
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Name: {{ certInfo.badge.issuer.name }}</li>
              <li class="list-group-item">Url:
                <a href="#">{{ certInfo.badge.issuer.url }}</a>
              </li>
              <li class="list-group-item">Email: {{ certInfo.badge.issuer.email }}</li>
              <li class="list-group-item">Logo:
                <img src="{{ certInfo.badge.issuer.image }}" alt="logo ptit" class="img-thumbnail">
              </li>
              <li class="list-group-item">pubkey: {{ certInfo.badge.issuer.id }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingZero">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true"
              aria-controls="collapseZero">
              Main Content
            </button>
          </h5>
        </div>

        <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">ID Recipient:
                <strong>{{ certInfo.recipient.id }}</strong>
              </li>
              <li class="list-group-item">Issue For:
                <strong>{{ certInfo.recipient.name }}</strong>
              </li>
              <li class="list-group-item">Email Recipient:
                <strong>{{ certInfo.recipient.email }}</strong>
              </li>
              <li class="list-group-item">Degree Class:
                <strong>{{ certInfo.badge.criteria.narrative }}</strong>
              </li>
              <li class="list-group-item">Description:
                <strong>{{ certInfo.badge.description }}</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
              aria-controls="collapseTwo">
              Isser Signature
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Job Title: {{ certInfo.badge.signatureLines.jobTitle }}</li>
              <li class="list-group-item">Image Signature:
                <img src="{{ certInfo.badge.signatureLines.image }}" alt="image signature" class="img-thumbnail" style="max-width: 40%;">
              </li>
              <li class="list-group-item">Name: {{ certInfo.badge.signatureLines.name }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree">
              Unicert Signature
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">Merkle Root: {{ certInfo.unicertSignature.merkleRoot }}</li>
              <li class="list-group-item">Target Hash: {{ certInfo.unicertSignature.targetHash }}</li>
              <li class="list-group-item">Proof:
                <ul>
                  <li *ngFor="let proof of certInfo.unicertSignature.proof">
                    <span *ngIf="proof.left">Left: {{ proof.left }}</span>
                    <span *ngIf="proof.right">Right: {{ proof.right }}</span>
                  </li>
                </ul>
              </li>
              <li class="list-group-item">
                TxID:
                <strong> {{ certInfo.unicertSignature.anchors[0].txid }} </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
