<div class="card">
  <div class="card-header">Get Unicoin Address - Public Key</div>
  <div class="card-body">
    <button class="btn btn-success" (click)="getAddress()">Get Unicoin PublicKey</button>
    <div *ngIf="data" class="mt-3">
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Public Key</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" [value]="data.public_key">
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Private Key</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" [value]="data.private_key">
        </div>
      </div>
    </div>
  </div>
</div>
