<div class="card">
  <div class="card-header font-weight-bold">Unicoin Chain Information</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item">Length:
        <strong>{{ unicoin.length }}</strong>
      </li>
    </ul>
    <div id="accordion">
      <div class="card" *ngFor="let block of unicoin.chain">
        <div class="card-header" id="{{ 'heading' + block.index }}">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + block.index" aria-expanded="true" [attr.aria-controls]="'collapse' + block.index">
              Block #{{ block.index }}
            </button>
          </h5>
        </div>

        <div id="{{'collapse' + block.index}}" class="collapse show" [attr.aria-labelledby]="'heading' + block.index" data-parent="#accordion">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">HASH:
                <strong>{{ block.hash }}</strong>
              </li>
              <li class="list-group-item">INDEX:
                <strong>{{ block.index }}</strong>
              </li>
              <li class="list-group-item">MRKL_ROOT:
                <strong>{{ block.mrkl_root }}</strong>
              </li>
              <li class="list-group-item">PREV_BLOCK:
                <strong>{{ block.prev_block }}</strong>
              </li>
              <li class="list-group-item">PROOF:
                <strong>{{ block.proof }}</strong>
              </li>
              <li class="list-group-item">TIME:
                <strong>{{ block.time * 1000 | date:'medium'}}</strong>
              </li>
              <li class="list-group-item">TX Information:
                <div class="card" *ngFor="let tx of block.tx; let i = index">
                  <div class="card-header" id="{{ 'headingtx' + block.index + i }}">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapsetx' + block.index + i" aria-expanded="true" [attr.aria-controls]="'collapsetx' + block.index + i">
                        Transaction #{{ i }}
                      </button>
                    </h5>
                  </div>

                  <div id="{{'collapsetx' + block.index + i}}" class="collapse show" [attr.aria-labelledby]="'headingtx' + block.index + i" data-parent="#accordion1">
                    <div class="card-body">
                      <ul class="list-group">
                        <li class="list-group-item"> AMOUNT:
                          <strong>{{tx.amount}}</strong>
                        </li>
                        <li class="list-group-item"> HASH:
                          <strong>{{tx.hash}}</strong>
                        </li>
                        <li class="list-group-item"> INPUTADDRESS:
                          <strong>{{tx.inputAddress}}</strong>
                        </li>
                        <li class="list-group-item"> META_DATA:
                          <strong>{{tx.meta_data}}</strong>
                        </li>
                        <li class="list-group-item"> OUTPUTADDRESS:
                          <strong>{{tx.outputAddress}}</strong>
                        </li>
                        <li class="list-group-item"> TIME:
                          <strong>{{tx.time * 1000 | date:'medium'}}</strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
