<!-- Prize current info 
<div class="prize-info">
  <img style="height: 150px;" src="{{ prizedItems.image }}" class="mx-auto d-block">
  <nav>
    <ul *ngIf="prizes && prizes.length" class="pagination justify-content-center">
      <li [ngClass]="{disabled:currentPrize === 0 || state === 1}" class="page-item">
        <a class="page-link" (click)="setPrize(currentPrize - 1)">
          <</a>
      </li>
      <li class="page-item">
        <span class="page-link text-uppercase">{{prizedItems.name}}</span>
      </li>
      <li [ngClass]="{disabled:currentPrize === prizes.length - 1 || state === 1}" class="page-item">
        <a class="page-link" (click)="setPrize(currentPrize + 1)">></a>
      </li>
    </ul>
  </nav>
</div>
-->
<div class="row justify-content-center mt-3">
  <div class="col-sm-6 col-lg-3" *ngIf="!allItems">
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" type="file" (change)="onFileChange($event)" multiple="false">
        <label class="custom-file-label" for="inputGroupFile04">Chọn file</label>
      </div>
    </div>
  </div>
  <div *ngIf="allItems" class="col-lg-10 col-sm-12 text-center section-price" [ngSwitch]="state">
    <h1 [style.color]="'#' + colorRand" class="bg-light mt-3 mb-4">{{position}}</h1>
    <div>
      <button class="btn btn-success text-uppercase" type="button" (click)="random()" *ngSwitchCase="0">Quay số</button>
      <button class="btn btn-danger text-uppercase" type="button" (click)="clear()" *ngSwitchCase="1">Dừng lại</button>
    </div>
  </div>
</div>
<button class="btn btn-danger text-uppercase" type="button" (click)="export()" style="display: none">Export</button>
