<div class="card">
  <div class="card-header">List cert recieved</div>
  <div class="card-body">
    <table class="table bg-success">
      <thead>
        <tr>
          <th>#</th>
          <th>Cert ID</th>
          <th>Name Cert</th>
          <th>Issue By</th>
          <th>Image QR Code</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>aksdfhkajsdfhjkasdf linnk</td>
          <td>Chung Chi ABC</td>
          <td>HHVBCVT</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="card">
  <div class="card-header">List batch cert Issued</div>
  <div class="card-body">
    <table class="table bg-success">
      <thead>
        <tr>
          <th>#</th>
          <th>TxID</th>
          <th>Name Cert Batch</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>aksdfhkajsdfhjkasdf linnk</td>
          <td>Chung Chi ABC</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
